ol
{
    background-color: lightgreen;
}




ol li:nth-child(1)
    background-color :lightgreen;
    color:aquamarine
    font-size:30px;
    float:right;
}
ol li:nth-child(second)
{
    background-color: red;
    font-size: :30px;
    width:10;
}
ol li:nth-child(third)
{
    background-color: blue;
}

ol li:nth-child(fourth)
{
    background-color: aqua;
}

ol li:last-child
{
    background-color: yellow;
}
